body {
    background: black;
    color: white;
    font-family: sans-serif;
  }
  * {
    box-sizing: border-box;
  }
  
  h1 {
    color: rgb(0, 225, 255);
  }

  h2 {
      color: rgb(133, 172, 179)
  }
  
  img {
    width: 200px;
    height: 300px;
    object-fit: cover;
  }
  
  .featured__image {
    width: 400px;
    height: 600px;
    object-fit: cover;
  }

  /**
  CAROUSEL
  */
  .carousel {
      position: relative;
  }

  .carousel__container {
    transition: transform 0.3s;
    transform: translate3d(0, 0, 0);
  }
  
  .carousel__container::after {
    content: '';
    clear: both;
    display: table;
  }

  .carousel__movie {
      float: left;
  }

  .carousel__next, .carousel__prev {
    position: absolute;
    width: 50px;
    height: 50px;
    background: rgb(13, 13, 14) url(../svg/next.svg) center center no-repeat;
    background-size: 30px 30px;
    border-radius: 80%;
    top: 50%;
    margin-top: -20px;
    right: 20px;
    box-shadow: 0 8px 18px #3232321a, 0 5px 15px #0000001a;
    cursor: pointer;
    transition: transform 0.3s;
  }

  .carousel__next:hover, .carousel__prev:hover {
    transform: scale(1.2);
  }

  .carousel__prev {
    background-image: url(../svg/prev.svg);
    right: auto;
    left: -20px;
  }

  .modal__container{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgb(133, 172, 179);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
    z-index: 9999;
  }

  .modal__container__active{
    visibility: visible;
    opacity: 1;
    z-index: 9999;
  }

  .modal{
    position: relative;
    background-color: salmon;
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }

  .modal__close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
  }