{% extends 'layout.html' %}

{% block title %}Netflix-like app{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Top 20 Movies Overall</h1>
            <hr>
            <div id="overall"></div>
            <h1>Top 20 Action Movies Overall</h1>
            <hr>
            <div id="action"></div>
            <h1>Top 20 Horror Movies Overall</h1>
            <hr>
            <div id="horror"></div>
            <h1>Top 20 Animated Movies Overall</h1>
            <hr>
            <div id="animation"></div>
            <script type=text/javascript src="{{
            url_for('static', filename='js/main.js') }}"></script>
        </div>
    </div>
</div>
{% endblock %}