{% extends 'layout.html' %}

{% block content %}
<!--<h1>Top 20 films</h1>
    <div class='top20'></div>
    <script type=text/javascript src="{{
        url_for('static', filename='js/fetch_top20.js') }}"></script>
<h1>Top 20 Action Films</h1>
    <div class='top20_action'>
        <script type=text/javascript src="{{
            url_for('static', filename='js/fetch_top20_action.js') }}"></script>
    </div>
<h1>Top 20 Animated Films</h1>
    <div class='top20_animation'>
        <script type=text/javascript src="{{
            url_for('static', filename='js/fetch_top20_animation.js') }}"></script>
    </div>
<h1>Top 20 Horror Films</h1>
    <div class='top20_horror'>
        <script type=text/javascript src="{{
            url_for('static', filename='js/fetch_top20_horror.js') }}"></script>
    </div>-->
{% endblock content %}