<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>JustStreamIt</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
        <script type="text/javascript" src="{{url_for('static', filename='js/main.js')}}"></script>
    </head>
    <body>
        <div class="topnav">
            <a class="active" href="#home">JustStreamIt</a>
            <a href="#topOfPage">Accueil</a>
            <a href="#startOfCategories">Catégories</a>
        </div>
        {% block main %}
        {% endblock %}
    </body>
</html>