<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <!-- stylesheet here-->
        <title>Tests</title>
    </head>
    <body>
        <div class="container">
            {% block content %}
        
            {% endblock content %}
        </div>
        <script type=text/javascript src="{{
            url_for('static', filename='js/fetch_top20.js') }}"></script>
    </body>
</html>